<h1>Sing In</h1>

<%= form_with url: sign_in_path do |f| %>
  <div class="mb-3">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", placeholder: "steve@apple.com" %>
  </div>
  <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", placeholder: "password" %>
    <%= link_to "Forgot your password?", password_reset_path %>
  </div>
  <div class="mb-3">
    <%= f.submit "Sign In", class: "btn btn-primary " %>
  </div>
<% end %>
