<h1>Reset your password</h1>

<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |f| %>
  <div class="mb-3">
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <% @user.errors.full_messages.each do |m| %>
          <div><%= m %></div>
        <% end %>
      </div>
    <% end %>

    <div class="mb-3">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", placeholder: "password" %>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "confirmation_password" %>
    </div>

    <div class="mb-3">
      <%= f.submit "Reset Password", class: "btn btn-primary " %>
    </div>

<% end %>
