<h1>Edit Password</h1>

<%= form_with model: Current.user, url: edit_password_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="alert alert-danger">
      <% f.object.errors.full_messages.each do |m| %>
        <div><%= m %></div>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", placeholder: "password" %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "confirmation_password" %>
  </div>
  <div class="mb-3">
    <%= f.submit "Update Password", class: "btn btn-primary " %>
  </div>
<% end %>
